.configuration {
  padding: 0.5em 0em;

  input[type=text], input[type=file] {
    font-size: 100%;
    background: none;
    border: solid 1px white;
    color: white;
  }

  .configurationTitle {
    color: lightgray;
    margin-bottom: 0.1em;
  }

  .slider {
    display: flex;

    input[type=range] {
      flex-grow: 1;
    }
    input[type=text] {
      width: 3em;
      text-align: right;
    }
  }

  .text {
    input[type=text] {
      width: 100%;
    }
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
}

.tooltip .tooltiptext {
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 0.2em 0.5em;
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  max-width: 18em;
  width: max-content;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.tooltip.bottom {
  .tooltiptext {
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
  }

  .tooltiptext::after {
    margin-left: -5px;
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent white transparent;
  }
}

.tooltip.right {
  .tooltiptext {
    top: 50%;
    left: 100%;
    transform: translate(0.5em,-50%);
  }

  .tooltiptext::after {
    margin-top: -5px;
    right: 100%;
    top: 50%;
    border-color: transparent white transparent transparent;
  }
}

.tooltip.left {
  .tooltiptext {
    top: 50%;
    right: 100%;
    transform: translate(-0.5em,-50%);
  }

  .tooltiptext::after {
    margin-top: -5px;
    left: 100%;
    top: 50%;
    border-color: transparent transparent transparent white;
  }
}


.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}