html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px; }

body {
  background: #f0e4fe;
  font-family: sans-serif;
  display: flex;
  flex-direction: column; }

header {
  background: #7e49fb;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 0em 1em;
  height: 2.2em;
  align-items: center; }
  header .gearsIcon {
    height: 1.6em;
    margin-right: 0.5em;
    margin-top: -0.3em;
    margin-bottom: -0.3em; }
  header #projectName, header #robotName {
    margin-left: 1em;
    background: #b095f0;
    border: dashed 1px #5781BA;
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
    position: relative;
    color: white; }
  header #projectName::placeholder {
    color: #727272; }
  header .language {
    margin-left: auto;
    cursor: pointer;
    user-select: none; }
  header .menuBar {
    display: flex;
    margin-left: 0.5em; }
    header .menuBar .menuItem {
      padding: 0.3em 0.5em;
      font-weight: bold;
      color: white;
      cursor: pointer;
      user-select: none; }
    header .menuBar .menuItem:hover {
      color: black; }

.bold {
  font-weight: bold; }

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column; }

nav {
  margin-top: 0.5em;
  display: flex;
  border-bottom: solid 1px #bbbbbb;
  align-items: center; }
  nav ul.panelTabs {
    display: flex;
    padding-left: 5px;
    margin: 0; }
    nav ul.panelTabs li {
      display: block;
      border: solid 1px #bbbbbb;
      padding: 0.3em 1em;
      border-radius: 0.5em 0.5em 0 0;
      border-bottom: none;
      margin-left: -5px;
      background: #D9E3F1;
      color: #999999;
      cursor: pointer;
      user-select: none;
      white-space: nowrap; }
      nav ul.panelTabs li .py-mod-controls {
        display: none; }
        nav ul.panelTabs li .py-mod-controls span {
          padding: 0px; }
    nav ul.panelTabs li.active .py-mod-controls {
      display: inline; }
    nav ul.panelTabs li:hover {
      background: #f0e4fe; }
    nav ul.panelTabs li.active {
      z-index: 1;
      background: white;
      color: #4994FB;
      margin-top: -5px;
      font-size: 110%; }
  nav .news {
    margin-left: 2em;
    font-weight: bold;
    color: red;
    cursor: pointer;
    user-select: none; }
  nav .panelControlsArea {
    margin-left: auto; }

#connectGroup {
  display: flex;
  margin-top: -5px;
  margin-right: 0.2em; }
  #connectGroup #connectionStatus {
    padding: 0.4em 0.5em 0.2em 0.5em;
    border-radius: 0.5em 0 0 0.5em;
    background: red;
    color: white; }
  #connectGroup #connectionStatus.connected {
    background: green; }
  #connectGroup #connectMenu {
    padding: 0.4em 0.5em 0.2em 0.45em;
    border-radius: 0 0.5em 0.5em 0;
    background: #7e49fb;
    color: white;
    cursor: pointer;
    user-select: none; }

.panels {
  flex-grow: 1;
  position: relative;
  overflow: hidden; }
  .panels .panel {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute; }
  .panels .panel.active {
    z-index: 0; }

.saveBlockly, .savePython {
  font-weight: bold;
  color: gray;
  cursor: pointer;
  user-select: none;
  margin: 0 1em; }

.saveBlockly.hide, .savePython.hide {
  display: none; }

.dialogWindow .selectRobot .description {
  display: flex;
  border: solid 1px white;
  margin-top: 0.5em; }
  .dialogWindow .selectRobot .description .thumbnail {
    width: 200px;
    height: 200px; }
  .dialogWindow .selectRobot .description .text {
    border-left: solid 1px white;
    padding: 0 1em;
    flex-shrink: 1; }
.dialogWindow .selectRobot .configurations {
  border: solid 1px white;
  margin-top: 0.5em;
  padding: 0 0.5em; }

ul.menuDropDown {
  background: #f0e4fe;
  border: solid 1px #bbbbbb;
  position: absolute;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-radius: 0 0 0.5em 0.5em;
  overflow: hidden;
  box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.25); }
  ul.menuDropDown li {
    display: block;
    color: gray;
    padding: 0.5em; }
  ul.menuDropDown li:hover {
    background: white; }
  ul.menuDropDown li.underline {
    border-bottom: solid 1px #bbbbbb; }
  ul.menuDropDown .tick {
    color: green; }

.filename {
  margin-right: 0.5em; }

ul.menuDropDownRightAlign {
  top: 100%; }

.configuration {
  padding: 0.5em 0em; }
  .configuration input[type=text], .configuration input[type=file] {
    font-size: 100%;
    background: none;
    border: solid 1px white;
    color: white; }
  .configuration .configurationTitle {
    color: lightgray;
    margin-bottom: 0.1em; }
  .configuration .slider {
    display: flex; }
    .configuration .slider input[type=range] {
      flex-grow: 1; }
    .configuration .slider input[type=text] {
      width: 3em;
      text-align: right; }
  .configuration .text input[type=text] {
    width: 100%; }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white; }

.tooltip .tooltiptext {
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 0.2em 0.5em;
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  max-width: 18em;
  width: max-content; }

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid; }

.tooltip.bottom .tooltiptext {
  top: 125%;
  left: 50%;
  transform: translateX(-50%); }
.tooltip.bottom .tooltiptext::after {
  margin-left: -5px;
  bottom: 100%;
  left: 50%;
  border-color: transparent transparent white transparent; }

.tooltip.right .tooltiptext {
  top: 50%;
  left: 100%;
  transform: translate(0.5em, -50%); }
.tooltip.right .tooltiptext::after {
  margin-top: -5px;
  right: 100%;
  top: 50%;
  border-color: transparent white transparent transparent; }

.tooltip.left .tooltiptext {
  top: 50%;
  right: 100%;
  transform: translate(-0.5em, -50%); }
.tooltip.left .tooltiptext::after {
  margin-top: -5px;
  left: 100%;
  top: 50%;
  border-color: transparent transparent transparent white; }

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

.blocklyEditor .disable {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(100, 100, 100, 0.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center; }
  .blocklyEditor .disable .enable {
    font-size: 200%;
    color: red;
    border: solid 2px red;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    user-select: none; }
.blocklyEditor #blocklyPages {
  position: absolute;
  top: 0.5em;
  right: 1em;
  border: solid 1px #bbbbbb;
  border-radius: 0.5em;
  padding: 0.5em;
  color: gray;
  user-select: none;
  cursor: pointer; }
  .blocklyEditor #blocklyPages ul.menuDropDown {
    right: 0;
    left: auto;
    width: max-content; }

.blocklyEditor.hide {
  display: none; }

.python {
  display: flex;
  flex-direction: column;
  background: #2F3129;
  font-size: 125%;
  font-family: monospace;
  width: 100%;
  height: 100%; }
  .python #pythonCode {
    width: 100%;
    height: 100%;
    font-size: 120%; }
  .python #pythonCode.hide {
    display: none; }
  .python #filesRow {
    display: flex;
    align-items: center; }
    .python #filesRow #filesList {
      display: flex;
      overflow-x: scroll;
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */ }
      .python #filesRow #filesList .file {
        display: flex;
        background: #515251;
        color: #999b99;
        border-left: solid 1px #272822;
        border-right: solid 1px #272822;
        padding: 0.3em;
        cursor: pointer;
        user-select: none; }
        .python #filesRow #filesList .file .renameFile, .python #filesRow #filesList .file .deleteFile {
          display: none;
          margin-left: 0.5em; }
      .python #filesRow #filesList .file.selected {
        background-color: #272822;
        color: white;
        font-weight: bold; }
        .python #filesRow #filesList .file.selected .renameFile, .python #filesRow #filesList .file.selected .deleteFile {
          display: block; }
    .python #filesRow #filesList::-webkit-scrollbar {
      display: none; }
    .python #filesRow #addNewFile {
      padding: 0.3em 0.5em;
      color: white;
      cursor: pointer;
      user-select: none; }

.monitor {
  display: flex;
  flex-direction: column;
  background: white;
  font-size: 125%;
  font-family: monospace;
  width: 100%;
  height: 100%; }
  .monitor .monitorRow {
    margin: 0.2em;
    display: flex; }
  .monitor #monitorInput, .monitor #monitorSend, .monitor #monitorClear, .monitor #monitorAbort {
    font-size: 100%;
    font-family: inherit; }
  .monitor #monitorInput {
    margin-right: 0.2em;
    flex-grow: 1; }
  .monitor #monitorDisplay {
    flex-grow: 1;
    background: white;
    border: solid 1px black;
    margin: 0 0.2em;
    padding: 0.2em;
    overflow-y: scroll;
    overflow-x: auto;
    white-space: pre; }

.selectExtensions > .dialogWindow {
  height: 80%; }
  .selectExtensions > .dialogWindow .dialogBody {
    height: 100%; }
    .selectExtensions > .dialogWindow .dialogBody > div {
      height: 100%;
      display: flex;
      flex-direction: column; }

.extensions {
  max-height: 30em;
  overflow-y: auto;
  border: solid 1px white;
  padding: 0.5em; }

.extension {
  border: solid 1px white;
  padding: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column; }
  .extension .title {
    font-weight: bold; }
  .extension .buttons {
    align-self: end; }
    .extension .buttons button {
      font-size: 100%; }
    .extension .buttons button.remove {
      background: #f66; }
  .extension .buttons.install button.remove {
    display: none; }
  .extension .buttons.remove button.install {
    display: none; }

.extension.hide {
  display: none; }

.search {
  display: flex;
  margin-bottom: 0.5em; }
  .search input {
    font-size: 100%;
    width: 100%;
    background: none;
    color: white;
    border: solid 1px white;
    padding: 0 0.2em;
    margin-left: 0.5em; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?zcpech");
  src: url("../fonts/icomoon.eot?zcpech#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?zcpech") format("truetype"), url("../fonts/icomoon.woff?zcpech") format("woff"), url("../fonts/icomoon.svg?zcpech#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-edit:before {
  content: "\e91b"; }

.icon-kebab:before {
  content: "\e918"; }

.icon-plus:before {
  content: "\e91a"; }

.icon-deleteFile:before {
  content: "\e917"; }

.icon-download:before {
  content: "\e915"; }

.icon-upload:before {
  content: "\e916"; }

.icon-newFile:before {
  content: "\e919"; }

.icon-buttonsDown:before {
  content: "\e90e"; }

.icon-buttonsLeft:before {
  content: "\e90f"; }

.icon-buttonsRight:before {
  content: "\e910"; }

.icon-buttonsUp:before {
  content: "\e911"; }

.icon-buttons:before {
  content: "\e912"; }

.icon-buttonsBackspace:before {
  content: "\e913"; }

.icon-buttonsEnter:before {
  content: "\e914"; }

.icon-sensors:before {
  content: "\e90d"; }

.icon-reset:before {
  content: "\e90c"; }

.icon-keyboard:before {
  content: "\e90b"; }

.icon-cameraArc:before {
  content: "\e900"; }

.icon-cameraTop:before {
  content: "\e901"; }

.icon-cameraFollow:before {
  content: "\e902"; }

.icon-ruler:before {
  content: "\e903"; }

.icon-camera:before {
  content: "\e904"; }

.icon-virtualJoystickIndicator:before {
  content: "\e905"; }

.icon-stop:before {
  content: "\e906"; }

.icon-play:before {
  content: "\e907"; }

.icon-globe:before {
  content: "\e908"; }

.icon-virtualJoystick:before {
  content: "\e909"; }

.icon-joystick:before {
  content: "\e90a"; }
